.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-bar-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
}

.nav-bar-container li {
  margin-right: 2rem;
  padding-right: 3em;
}

.logo-container {
  position: fixed;
padding-top: 10px;
  left: 0;
}

.basketball-logo {
  width: 300px;
  height: 150px;
  margin-right: 2rem;
}

.basketball-logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.link-item {
  font-size: 20px;
  color: black;
  text-decoration: none;
  flex: 1;
  text-align: center;
  font-family: "Roboto", arial, sans-serif;
}

.link-item:hover {
  color: black;
}
