.nav-bar-container {
    width: 100%;
    font-weight: bold;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", arial, sans-serif;
    background: FFFFFF;
    box-sizing: border-box 20px solid;
    align-items: center;
  }


  .nav-bar-container ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-grow: 1;
    color: black;
  }

  .nav-bar-container li {
    margin-right: 2rem;
    color: black;
  }

  .nav-bar li {
    color:black
  }
  .basketball-logo {
    width: 50px;
    height: 50px;
    border-radius: 180px;
  }

  .basketball-logo:hover {
    transform:scale(1.2);
    cursor: pointer;
  }
